
*{margin: 0;
padding: 0;
}


body{
    background-color: black;
}
 

img{ width: 320px ;
    height: 320px;
   
 }
h1{
    margin-top: 29px;
    margin-bottom: 8px;
    color: white
}

p{
    color: white
}

ul{
    margin-top: 35px;
    font-size: 110%;
}

li{
    margin-bottom:  18px;
    list-style: none;
}

a {
    background-image:linear-gradient(#8c52ff, #5ce1e6);
    color: black;
    padding: 15px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

a:hover {
    background-image: linear-gradient(#a6a6a6, #ffffff);
}

footer{
    color: white
}


.container{
    width: 320px;
    text-align: center;;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    animation:5s;
}